body {
  background: linear-gradient( red);
}

header {
  text-align: center;
  color: white;
}

input {
  padding: 8px 16px;
  background: gray;
  border-radius: 100px;
  border: 2px solid purple;
  box-sizing: border-box;
}

.perguntas {
  text-align: center;
  background: gray;
  color: palegreen;
  margin: 64px;
  border-radius: 20px;
  box-shadow: 6px 6px 6px;
  padding: 64px;
}

button {
  align-self: flex-end;
  font-size: 24px;
  font-weight: 400;
  padding: 8px 16px;
  background: gray;
  border-radius: 100px;
  border: 2px solid whitesmoke;
  box-sizing: border-box;
}

.mensagem {
  text-align: center;
  color: whitesmoke;
}

.resposta-sn {
  text-align: center;
  color: whitesmoke;
}
